<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row py-16 md:py-36">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Me Mattias Vizcarra pero mis amigos me dicen vizcarrita. un analista programador apasionado por el desarrollo de software. Mis principales fortalezas
      técnicas radican en <strong>Angular y Node.js, tecnologías que he dominado a lo largo de mi formación académica.</strong>
    </p>
    <p>
      Uno de mis mayores logros profesionales fue <strong>entregar con éxito un producto MVP para la empresa Enaex, todo un
      desafío que asumí en solitario y bajo presión</strong>, demostrando mi capacidad para sacar adelante proyectos complejos de
      principio a fin.
    </p>
    <p>
      Mi objetivo principal es continuar desarrollándome profesionalmente en el ámbito que tanto me apasiona: la
      programación. <strong>Ansío formar parte de un equipo innovador donde pueda aportar mis habilidades y seguir creciendo en
      un entorno desafiante.</strong> 
    </p>

  </div>

  <img width="200" height="200" src="../../../assets/img/profile.webp" alt="me.webp"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 "
    style="object-position: 50% 50%">

</article>