<section class="py-16 md:py-36" id="section3">
    <div class="pb-8">
        <h2 class="text-3xl text-[#f2f2f2] font-semibold mb-6 flex gap-x-3 items-center"><i class="fa-solid fa-code"></i>Mis habilidades</h2>
    </div>
    <div class="flex flex-wrap gap-10 text-gray-300">
      <div class="flex flex-col items-center">
        <img src="../assets/img/favicon.ico" alt="" class="w-9 h-9 lg:w-16 lg:h-16">
        Angular
      </div>
      <div class="flex flex-col items-center">
         <img src="../assets/img/nodejs.webp" alt="" class="w-9 h-9 lg:w-16 lg:h-16">
         NodeJS 
      </div>
      <div class="flex flex-col items-center">
         <img src="../assets/img/css.webp" alt="" class="w-9 h-9 lg:w-16 lg:h-16">
         CSS 
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="../assets/img/tailwind.webp" alt="" class="w-9 h-9 lg:w-16 lg:h-16">
        Tailwind
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="../assets/img/mongodb.webp" alt="" class="w-9 h-9 lg:w-16 lg:h-16">
        MongoDB
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="../assets/img/postgresql.webp" alt="" class="w-9 h-9 lg:w-16 lg:h-16">
        PostgresSQL
      </div>
    </div>
  
  </section>