
<h2 class="text-3xl text-[#f2f2f2] font-semibold mb-6 flex gap-x-3 items-center"><i class="fa-solid fa-code"></i>Proyectos</h2>
<section class="flex flex-col gap-y-16">
    <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">Dashboard</h3>
        <p class="text-lg mb-4 text-pretty">Proyecto realizado para la empresa ENAEX, con el fin de implementar un sistema de gestion de pesos para cajas de su produccion.</p>
        <ul class="flex gap-x-2 flex-row mb-2">
            <li>
                <span class="rounded-full bg-white/10 text-gray-900 text-xs font-medium inline-flex items-center py-1 px-2">
                    Angular
                </span>
                
            </li>
            <li>
                <span class="rounded-full bg-white/10 text-gray-900 text-xs font-medium inline-flex items-center py-1 px-2">
                    Tailwind
                </span>
            </li>
        </ul>
        <img src="../../../assets/img/enaex.webp" alt="Captura de pantalla del proyecto" class="rounded shadow-2xl shadow-white/10">
    </article>
    <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">Dashboard</h3>
        <p class="text-lg mb-4 text-pretty">Proyecto realizado para la empresa ENAEX, con el fin de implementar un sistema de gestion de pesos para cajas de su produccion.</p>
        <ul class="flex gap-x-2 flex-row mb-2">
            <li>
                <span class="rounded-full bg-white/10 text-gray-900 text-xs font-medium inline-flex items-center py-1 px-2">
                    Angular
                </span>
                
            </li>
            <li>
                <span class="rounded-full bg-white/10 text-gray-900 text-xs font-medium inline-flex items-center py-1 px-2">
                    Tailwind
                </span>
            </li>
        </ul>
        <img src="../../../assets/img/enaex.webp" alt="Captura de pantalla del proyecto" class="rounded shadow-2xl shadow-white/10">
    </article>
</section>
