<section class="bg-transparent" id="section5">
    <div class="px-4 mx-auto max-w-screen-md">
        <h2 class="text-3xl text-[#f2f2f2] font-semibold mb-6 flex gap-x-3 items-center"><i class="fa-solid fa-envelope"></i>Contactame</h2>
        <p class="text-lg mb-4 text-balance text-gray-300">Si tienes alguna propuesta o comentario, no dudes en ponerte en contacto conmigo a través del siguiente formulario. Estaré encantado de responderte.</p>
        <form class="space-y-8" action="https://formspree.io/f/moqogjdo"
        method="POST">
          <div>
            <label for="subject" class="block mb-2 text-sm font-medium text-gray-300">Nombre y Apellido</label>
            <input type="text" name="name" id="name" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Nombre Completo" required>
          </div>
          <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-300">Correo Electronico</label>
              <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Example@example.com" required>
          </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-400">Mensaje</label>
                <textarea name="message" id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Deja un comentario..."></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-[#1d4ed8] sm:w-fit hover:bg-[#1e40af] focus:ring-4 focus:outline-none focus:ring-[#93c5fd] dark:bg-[#2563eb] dark:hover:bg-[#1d4ed8] dark:focus:ring-[#1e40af]">Mandar mensaje</button>
        </form>
    </div>
  </section>