<section class="w-full lg:w-[740px] mx-auto py-44">
    <img src="../assets/img/profile.webp" alt="mattias photo" class="rounded-full w-12 h-12 mb-4">
    <h1 class="text-4xl font-bold flex flex-row gap-x-4 pb-10">Hola, soy Mattias Vizcarra
        <a href="https://www.linkedin.com/in/mattiasvizcarra" target="_blank" rel="noopener" class="flex justify-center items-center">
            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Disponible para trabajar</span>
        </a>
    </h1>
    <h2 class="text-xl opacity-80">Analista Programador, Desarrollador Web. De chile 🇨🇱. Especializado en diseños atractivos y experiencias de usuarios intuitivas.</h2>
</section>