<section class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img src="../assets/img/profile.webp" alt="mattias photo" class="rounded-full shadow-lg size-16">
        <a href="https://www.linkedin.com/in/mattiasvizcarra" target="_blank" rel="noopener" class="flex items-center transition md:justify-center md:hover:scale-105">
            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full">Disponible para trabajar</span>
        </a>
    </div>
    <h1 class="text-4xl font-bold tracking-tight text-[#121212] sm:text-5xl">Hola, soy Mattias Vizcarra
    </h1>
    <p class="mt-6 text-xl lg:text-2xl text-[#121212]"><span>Analista Programador.</span><span class="text-yellow-200/90"> Desarrollador Web</span> De Coquimbo, Chile 🇨🇱.<span class="opacity-75"> Especializado en diseños atractivos y experiencias de usuario intuitivas.</span>
    </p>
    <ul>
        <nav class="flex gap-4 mt-8 flex-wrap">
            <a href="https://www.linkedin.com/in/mattiasvizcarra/" target="_blank" rel="noopener noreferrer" class="bg-white/5 border border-white/10 rounded-full flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base text-[#121212] transition hover:scale-110 hover:bg-white/10">
                <i class="fa-brands fa-linkedin text-lg lg:text-xl"></i>LinkedIn
            </a>
            <a href="https://github.com/Vizcarrita" target="_blank" rel="noopener noreferrer" class="bg-white/5 border border-white/10 rounded-full flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base text-[#121212] transition hover:scale-110 hover:bg-white/10">
                <i class="fa-brands fa-square-github text-lg lg:text-xl"></i>Github
            </a>
        </nav>
    </ul>
</section>